.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../public/assets/header_img.png");
  /* background-image: url("https://res.cloudinary.com/dorgvlsce/image/upload/v1745843331/foody%20app/restaurent_backgroud_img_abjhvo.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Main container */
.main-container {
  display: flex;
  margin-top: 78px; /* Offset for fixed navbar */
  height: calc(100vh - 78px);
}

/* Content area styles */
.content {
  border-top-right-radius: 5px;
  flex: 1;
  padding: 2rem;
  margin-left: 250px; /* Offset for fixed sidebar */
  overflow-y: auto;
  /* background-color: #ecf0f1; */
  height: 100%;
}

/* welcome page */
.welcome-container {
  text-align: center;
  padding: 50px;
}

.welcome-image {
  width: 300px;
  max-width: 90%;
  height: 300px;
  /* border-radius: 12px; */
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  color: #666;
}

/* not found page */
.notfound-container {
  text-align: center;
  padding: 50px;
}

.notfound-image {
  width: 300px;
  max-width: 90%;
  margin-bottom: 20px;
}

.notfound-container h1 {
  font-size: 2.5rem;
  color: #cc0000;
}

p {
  font-size: 1.2rem;
  color: #666;
}

/* all products */
.list-table-format {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr;
  gap: 10px;
  align-items: center;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}

.list-table-format.title {
  background-color: #f9f9f9;
}

.list-table-format img {
  width: 50px;
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }
  .list-table-format.title {
    display: none;
  }
}
